<html>
<head> 
<title> Admin Dashboard </title>
</head>
<body>
<a href="/attributes">Ürün Özellikleri</a>
<a href="/entry">Ürün Girişi</a>
<a href="/stock">Ürün Stokları</a>
<a href="/press">Etiket Basımı</a>
</body>

</html>